@use '@/styles/variables' as vars;

.plantPageContainer {}

.informationContainer {
  background-color: vars.$color-light;
  border: .2rem solid vars.$color-darker;
  width: 35rem;
  padding: .5rem;
  text-align: justify;
  font-size: large;
}

.indexSection {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .linksContainer {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    padding: .5rem;
    margin-left: 1.5rem;

    li {
      font-size: 1.1rem;
      font-weight: bold;
      color: vars.$color-darker;
      padding-left: 0;

      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}

.informationIcon {
  fill: vars.$color-darker;
  stroke: vars.$color-lighter;
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: 2;
  stroke-linecap: round;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.closeIcon {
  width: 2rem;
  height: 2rem;
  fill: rgb(233, 163, 163);
  stroke: red;
  stroke-width: 2;
  stroke-linecap: square;
}
