@use '@/styles/variables' as vars;

.plantPageContainer {
  .indexSection {
    display: flex;
    flex-direction: column;
    padding: .5rem;

    .linksContainer {
      display: flex;
      flex-direction: column;
      row-gap: .3rem;
      padding: .5rem;
      margin-left: 1.5rem;

      li {
        font-size: 1.1rem;
        font-weight: bold;
        color: vars.$color-darker;
        padding-left: 0;

        &:hover {
          text-decoration: underline;
          opacity: .8;
        }
      }
    }
  }
}
