@use '@/styles/variables' as vars;

.editPageContainer {
  display: flex;
  gap: 1rem;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 36rem;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}
