@use '@/styles/variables' as vars;

.editPageContainer {
  display: flex;
  flex-direction: column;
  gap: .3rem;

  .navContainer {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    background-color: vars.$color-darker;
    color: vars.$color-lighter;    
    width: 35rem;

    .navItem {
      flex: 1;
      text-align: center;
      padding: .5rem;

      &.navSelectedItem {
        border-bottom: .4rem solid vars.$color-lighter;
      }
      
      &.navSelectedItem, &:hover {
        opacity: .8;
      }
    }
  }
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 36rem;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}
