.imageContainer {
  position: relative;
}

img {
  position: relative;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.icon {
  padding: 0.4rem;
  background-color: green;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
