@use '@/styles/variables' as vars;

.uploadViewContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: vars.$color-light;

  .informationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 40rem;

    .imageInformation {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 0.3rem solid vars.$color-darker;
    }

    .button {
      background-color: vars.$color-darker;
      color: vars.$color-lighter;
      padding: 0.5rem 1.3rem;
      font-size: 1.1rem;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .progressBar {
    width: 50%;
    height: 1.8rem;
    border: 0.2rem solid vars.$color-darker;

    .progressFill {
      transition: width 0.3s ease-out;
      background-color: vars.$color-darker;
      height: 100%;
    }
  }
}
