@use '@/styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: vars.$color-darker;
  color: vars.$color-lighter;

  .headerContainer {
    padding: 1rem;
    text-align: center;
  }

  .middleContainer {
    flex: 1;
    display: flex;

    .asideContainer {
      display: flex;
      flex-direction: column;
      width: 20em;

      .sectionTitle {
        padding: .7rem 1rem;
        font-size: small;
        border-bottom: .1rem solid vars.$color-lighter;
      }

      .link {
        padding: 1rem;

        &.activeLink, &:hover {
          background-color: vars.$color-lighter;
          color: black;
        }
      }
    }

    .mainContainer {
      flex: 1;
      padding: .5rem;
      background-color: vars.$color-lighter;
      color: black;
    }
  }

  .footerContainer {
    padding: 1rem;
    text-align: center;
  }
}
