@use '@/styles/variables' as vars;

.uploadImageContainer {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 35rem;

	.dropZone {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: .5rem;
		width: 100%;
		height: 20rem;
		border: .25rem vars.$color-lighter;
		border-style: dashed;
		background-color: white;
		transition: all .3s;
		border-radius: .9rem;

		&.dropZoneOver {
			background-color: vars.$color-light;
		}

		.dragAndDropText {
			font-size: 1.2rem;
			font-weight: bold;
		}

		.inputDropZone {
			display: none;
		}

		.buttonUploadImage {
			background-color: vars.$color-darker;
			color: white;
			padding: .5rem 1.5rem;
			border-radius: .2rem;

			&:hover {
				opacity: .8;
				cursor: pointer;
			}
		}
	}

	.previewImagesContainer {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		width: 100%;

		.previewImageContainer {
			display: flex;
			flex-direction: column;
			gap: .5rem;
			width: 100%;
			background-color: white;
			border-radius: .5rem;
			padding: .5rem;

			&.previewImageSuccess {
				border: .2rem solid vars.$color-darker;
				background-color: vars.$color-light;
			}

			.previewInfoContainer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: .5rem;

				.previewInfo {
					display: flex;
					align-items: center;
					gap: .5rem;

					.previewImage {
						width: 4rem;
						height: 3rem;
						border-radius: .5rem;
					}
					
					.previewInfoText {
						width: 18rem;
						p {
							
							font-size: 1rem;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: clip;
						}

						span {
							color: vars.$color-darker;
							font-size: .9rem;
						}
					}
				}

				.iconContainer {
					display: flex;
					gap: .5rem;
				}
			}

			.progressContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: .4rem;
				width: 100%;

				p {
					font-size: .9rem;
				}

				.progressBar {
					width: 20rem;
					height: 1rem;
					border: 0.2rem solid vars.$color-darker;

					.progressFill {
						transition: width 0.3s ease-out;
						background-color: vars.$color-darker;
						height: 100%;
					}
				}
			}

			.textUploadStatus {
				text-align: center;
				font-size: .8rem;
				padding: .1rem;
				color: white;

				&.success {
					background-color: vars.$color-darker;
				}

				&.error {
					background-color: red;
				}
			}
		}
	}
}

.uploadImageContainer {
	display: flex;
	justify-content: center;
	padding: 0;

	.informationContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		width: 40rem;

		.imageInformation {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			border: 0.3rem solid vars.$color-darker;
		}

		.button {
			background-color: vars.$color-darker;
			color: vars.$color-lighter;
			padding: 0.5rem 1.3rem;
			font-size: 1.1rem;
			border-radius: 0.2rem;
			cursor: pointer;
		}
	}
}

// .progressContainer {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	width: 100%;

// 	.progressBar {
// 		width: 50%;
// 		height: 1.8rem;
// 		border: 0.2rem solid vars.$color-darker;

// 		.progressFill {
// 			transition: width 0.3s ease-out;
// 			background-color: vars.$color-darker;
// 			height: 100%;
// 		}
// 	}
// }
